/*////////////// Fonts //////////////*/

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville'); /* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

.clearfix:after{
	content: ".";
	display:block;
	clear:both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

#header h1{
	font-family: "Libre Baskerville", serif;
	font-size: 80px;
	color: #98ada6;
}

img{
	border: 5px solid #98ada6;
}

h2 {
	font-family: "Times New Roman";
	font-size: 32px;
	color: #6f7f7a;


}

#about p{
	font-family: "Times New Roman";
	font-size: 16px;
	color: #555555;
}

#about a{
	text-decoration: none;
}

div.press{
	float: left;
	padding: 3px;
}

.press img:hover{
	border: 5px solid #6f7f7a;
}

#copyright p{
	float: right;
	margin-top: 10px;
	font-family: "Times New Roman";
	font-size: 12.8px;
	color: #555555;
}